Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

add new line
  frontend/deploy/overlays/local/kustomization.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD_59: Add link to the job history
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

STONEBLD-777 - tekton-ci: update bundle
  .tekton/pull-request-backend.yaml
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

remove package.json
  package.json
  yarn.lock
Due: none

improving overview
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/Overview/Overview.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

moving jira issues
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

moving repositories
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/Repositories/Repositories.tsx
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/Teams.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Improve description
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

little fix
  frontend/src/app/Overview/About.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add team button to overview
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/Teams/TeamForm.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

minor changes colors
  frontend/src/app/Overview/InfoBanner.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adding documentation card
  frontend/src/app/Overview/About.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve add team button on overview
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/Teams/TeamForm.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

deleted 'Create your first Team' button
  frontend/src/app/Teams/TeamsSelect.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

cleaning
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

minor changes to href
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
  frontend/src/app/Overview/Overview.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving overview (#42)
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Dashboard/Dashboard.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/Repositories/Repositories.tsx
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Teams/Teams.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/Teams/Teams.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

New plugins interface
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

hide Plugins if team does not exist
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/AppLayout/AppLayout.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Endpoints to delete and update teams
  backend/api/server/rotate.go
  backend/api/server/router/teams/teams.go
  backend/api/server/router/teams/teams_route.go
  backend/go.sum
  backend/pkg/storage/ent/client/teams.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/schema/repositories.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

starting to improve teams
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Teams/TableComponent.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add update teams
  backend/api/server/router/teams/teams.go
  backend/api/server/server.go
  backend/pkg/storage/ent/client/teams.go
  backend/pkg/storage/storage.go
  frontend/src/app/Teams/TableComponent.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving delete team
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

hide plugins when server or db is unavailable
  backend/api/server/router/database/database.go
  backend/api/server/router/database/database_route.go
  backend/api/server/server.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving alerts + improving teams button
  backend/api/server/router/database/database.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Overview/Overview.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

remove print
  backend/api/server/router/database/database.go
Due: dashboard-backend-on-pull-request

improving getDbConnection
  backend/api/server/router/database/database.go
Due: dashboard-backend-on-pull-request

improving getDbConnection
  backend/api/server/router/database/database_route.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/pkg/storage/ent/client/postgres.go
Due: dashboard-backend-on-pull-request

add bugs displays
  README.md
  frontend/src/app/Jira/FakeChart.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push
