Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

AD-176
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-182
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve gh regex (#292)
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-161
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/Types.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-161: Add missing job name filter when getting the frequency of the suite failure (#293)
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/Types.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-182: Update default team in user settings when deleting the default team (#291)
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-96] Adds locale customized dates
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix no-jobs case in Test Report page (#277)
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-96] Adds customized date to Flaky tests and Jira plugins
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-96] removes unused function
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-96] Corrects date validaton
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-183
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  backend/pkg/storage/ent/client/repository.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

docs: update link to the patternfly project
  README.md
Due: none

docs: update link to the patternfly project (#296)
  README.md
Due: none

AD-183 - add message validation when adding a GitHub Repository (#295)
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  backend/pkg/storage/ent/client/repository.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-175: CI Impact of a bug should be available for any team’s project (#290)
  README.md
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/Header.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix linter error
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

fix lint error (#297)
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

feat: [AD-96] Enables locale specific time & date formatting (#294)
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

change postgres image
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

[Snyk] Fix for 4 vulnerabilities (#270)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade @storybook/builder-webpack5 from 7.0.27 to 7.6.6 (#263)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore: update dependencies after addressing CVEs
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore: clean unnecessary files
  README.md
  frontend/package-lock.json
  yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix backend lint error
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

chore: update dependencies after addressing CVEs (#299)
  README.md
  frontend/package-lock.json
  frontend/yarn.lock
  yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

change postgres image (#298)
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

Red Hat Konflux purge backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

memory increase
  backend/devfile.yaml
Due: dashboard-backend-on-pull-request

increase backend memory (#301)
  backend/devfile.yaml
Due: dashboard-backend-on-pull-request

improve log
  backend/api/server/prow_rotate.go
Due: dashboard-backend-on-pull-request

Red Hat Konflux update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

change "Failed to get pr number from" log from Warn to Debug (#302)
  backend/api/server/prow_rotate.go
Due: dashboard-backend-on-pull-request

Red Hat Konflux purge frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Red Hat Konflux purge dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none
