Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

fix: upgrade monaco-editor from 0.36.1 to 0.46.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade react-hook-form from 7.45.1 to 7.50.1
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade oauth4webapi from 2.3.0 to 2.10.3
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade @patternfly/react-code-editor from 4.82.115 to 4.82.122
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade @patternfly/react-table from 4.113.0 to 4.113.7
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add generic junit parsing capabilites (#272)
  backend/api/server/prow_rotate.go
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

[Snyk] Upgrade @patternfly/react-table from 4.113.0 to 4.113.7 (#311)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade @patternfly/react-code-editor from 4.82.115 to 4.82.122 (#310)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade oauth4webapi from 2.3.0 to 2.10.3 (#309)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade react-hook-form from 7.45.1 to 7.50.1 (#308)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Revert "Add generic junit parsing capabilites (#272)"
  backend/api/server/prow_rotate.go
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

Change report name
  backend/api/server/prow_rotate.go
  frontend/.env
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Change report name for all the jobs that are not konflux (#313)
  backend/api/server/prow_rotate.go
  frontend/.env
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade @patternfly/react-core from 4.276.8 to 4.278.1
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade @badgateway/oauth2-client from 2.2.1 to 2.3.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade yaml from 2.3.1 to 2.4.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade react-monaco-editor from 0.52.0 to 0.55.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: upgrade @patternfly/react-styles from 4.92.6 to 4.92.8
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

feat: re-add QD to tekton-ci
  .tekton/pull-request-backend.yaml
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
  backend/deploy/base/deployment.yaml
  backend/deploy/base/route.yaml
  backend/deploy/base/service.yaml
  backend/deploy/overlays/local/postgres.yaml
  dex/deploy/base/deployment.yaml
  dex/deploy/base/kustomization.yaml
  dex/deploy/base/route.yaml
  dex/deploy/base/service.yaml
  dex/devfile.yaml
  frontend/deploy/base/deployment.yaml
  frontend/deploy/base/service-account.yaml
  frontend/deploy/base/service.yaml
  hack/install.sh
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: reduce the size of frontent image
  frontend/.dockerignore
  frontend/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: address kube-linter issues
  backend/deploy/base/deployment.yaml
  dex/deploy/base/deployment.yaml
  frontend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: add volumemount due to readOnlyRootFilesystem
  frontend/Dockerfile
  frontend/deploy/base/deployment.yaml
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

feat: re-add QD to tekton-ci (#312)
  .tekton/pull-request-backend.yaml
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
  backend/deploy/base/deployment.yaml
  backend/deploy/base/route.yaml
  backend/deploy/base/service.yaml
  backend/deploy/overlays/local/postgres.yaml
  dex/deploy/base/deployment.yaml
  dex/deploy/base/kustomization.yaml
  dex/deploy/base/route.yaml
  dex/deploy/base/service.yaml
  dex/devfile.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/deploy/base/deployment.yaml
  frontend/deploy/base/service-account.yaml
  frontend/deploy/base/service.yaml
  frontend/entrypoint.sh
  hack/install.sh
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix sentence structure on overview page.
  frontend/src/app/Overview/About.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix sentence structure on overview page. (#319)
  frontend/src/app/Overview/About.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade yaml from 2.3.1 to 2.4.0 (#316)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: infra-deployments update script
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

fix: infra-deployments update script (#320)
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

[Snyk] Upgrade @patternfly/react-styles from 4.92.6 to 4.92.8 (#318)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade react-monaco-editor from 0.52.0 to 0.55.0 (#317)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade @badgateway/oauth2-client from 2.2.1 to 2.3.0 (#315)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Snyk] Upgrade @patternfly/react-core from 4.276.8 to 4.278.1 (#314)
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

notify user that the update takes some time to be completed
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

support custom metric for the Jira Bugs affecting CI for each team
  backend/api/apis/configuration/v1alpha1/configuration.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/teams/teams.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/Configuration.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add comments
  backend/api/apis/configuration/v1alpha1/configuration.go
Due: dashboard-backend-on-pull-request

fix: backend: sync issue
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request
