Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

fix sort
  frontend/src/app/CiFailures/Table.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-158: slis alerts should skip issues with status as 'Waiting' and 'Release Pending' (#261)
  README.md
  backend/api/server/rhtap_bug_slis_alert.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
  frontend/src/app/CiFailures/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Initial approach of new openshift ci metrics
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/server/prow_rotate.go
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

AD-157 - component entry in slis table should ignore docs as component if team is specified (#260)
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

Endpoint for jobs types
  backend/api/server/router/prow/job.go
  backend/api/server/router/prow/job_route.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

fix: upgrade @storybook/builder-webpack5 from 7.0.27 to 7.6.6
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add impact metrics
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/apis/prow/v1alpha1/suites.go
  backend/api/server/prow_rotate.go
  backend/api/server/prow_util.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/go.sum
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/postgres.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/where.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_update.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/ent/schema/prow_suites.go
Due: dashboard-backend-on-pull-request

Add impact metrics
  backend/pkg/storage/ent/client/postgres.go
Due: dashboard-backend-on-pull-request

update openshift ci statistics page
  frontend/src/app/Reports/Reports copy.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

update openshift ci statistics page
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

update openshift ci statistics page
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update bucket name
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

Update gcs bucket name (#264)
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

create endpoint for range of dates
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/server/router/prow/job_route.go
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

AD-150
  backend/api/apis/user/v1alpha1/user.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/users/users.go
  backend/api/server/router/users/users_route.go
  backend/api/server/server.go
  backend/go.sum
  backend/pkg/storage/ent/client/user.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/config.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/predicate/predicate.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/db/tx.go
  backend/pkg/storage/ent/db/users.go
  backend/pkg/storage/ent/db/users/users.go
  backend/pkg/storage/ent/db/users/where.go
  backend/pkg/storage/ent/db/users_create.go
  backend/pkg/storage/ent/db/users_delete.go
  backend/pkg/storage/ent/db/users_query.go
  backend/pkg/storage/ent/db/users_update.go
  backend/pkg/storage/ent/schema/users.go
  backend/pkg/storage/storage.go
  frontend/package.json
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/User.tsx
  frontend/src/app/store/initState.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add docs
  README.md
Due: none

update openshift ci statistics page
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

update openshift ci statistics page
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

last fixes
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/ml/regression.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

cleaning
  backend/api/server/router/users/users.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Refactor Openshift CI page and add trends about external services impact (#267)
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
  frontend/src/app/utils/sharedComponents.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add external services endpoints to collect junits and improve prow endpoints (#266)
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/apis/prow/v1alpha1/suites.go
  backend/api/server/prow_rotate.go
  backend/api/server/prow_util.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/prow/job_route.go
  backend/api/server/router/prow/prow_metrics.go
  backend/go.sum
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/ml/regression.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/where.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_update.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/ent/schema/prow_suites.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

delete username
  backend/api/apis/user/v1alpha1/user.go
  backend/go.sum
  backend/pkg/storage/ent/client/user.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/users.go
  backend/pkg/storage/ent/db/users/users.go
  backend/pkg/storage/ent/db/users/where.go
  backend/pkg/storage/ent/db/users_create.go
  backend/pkg/storage/ent/db/users_query.go
  backend/pkg/storage/ent/db/users_update.go
  backend/pkg/storage/ent/schema/users.go
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/User.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-150 - Add default team option for user (#265)
  README.md
  backend/api/apis/user/v1alpha1/user.go
  backend/api/server/router/users/users.go
  backend/api/server/router/users/users_route.go
  backend/api/server/server.go
  backend/go.sum
  backend/pkg/storage/ent/client/user.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/config.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/predicate/predicate.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/db/tx.go
  backend/pkg/storage/ent/db/users.go
  backend/pkg/storage/ent/db/users/users.go
  backend/pkg/storage/ent/db/users/where.go
  backend/pkg/storage/ent/db/users_create.go
  backend/pkg/storage/ent/db/users_delete.go
  backend/pkg/storage/ent/db/users_query.go
  backend/pkg/storage/ent/db/users_update.go
  backend/pkg/storage/ent/schema/users.go
  backend/pkg/storage/storage.go
  frontend/package.json
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/User.tsx
  frontend/src/app/store/initState.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update User.tsx
  frontend/src/app/Teams/User.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix undefined edge case in User.tsx (#268)
  frontend/src/app/Teams/User.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix quality dashboard store
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix quality dashboard store (#269)
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Update README.md
  README.md
Due: none

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add general junit parser
  backend/api/server/prow_rotate.go
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

fix time range autoapply
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix time range auto apply (#271)
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add parser for junit
  backend/api/server/prow_rotate.go
Due: dashboard-backend-on-pull-request

point to new build team group
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request
