Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

disable teams mention
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

disable teams mention (#221)
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

AD-121
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/api/server/router/jira/types.go
  backend/pkg/connectors/jira/issues.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/CiImpact/CiFailures.tsx
  frontend/src/app/CiImpact/CreateFailure.tsx
  frontend/src/app/CiImpact/Table.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/JiraByLabels/CustomStackChart.tsx
  frontend/src/app/JiraByLabels/JiraByLabels.tsx
  frontend/src/app/JiraByLabels/ListIssuesTable.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/JiraByLabels/ListIssuesTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

replace error log with warn log
  backend/api/server/server.go
  backend/pkg/connectors/github/content.go
Due: dashboard-backend-on-pull-request

fix: [AD-120] Correcting Retest Before Merge Avg metric (#200)
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/connectors/github/pull_requests_query.go
Due: dashboard-backend-on-pull-request

[AD-115] Changes metric title
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

replace error log with warn log when resp status is 404 in CheckIfRepoExistsInOpenshiftCI (#223)
  backend/api/server/server.go
  backend/pkg/connectors/github/content.go
Due: dashboard-backend-on-pull-request

delete the closed bugs from the impacts dashboard
  backend/api/apis/failure/v1alpha1/failure.go
  backend/api/server/failure_rotate.go
  backend/api/server/router/failure/failure.go
  backend/api/server/router/failure/types.go
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix
  backend/pkg/storage/ent/client/failure.go
Due: dashboard-backend-on-pull-request

improve
  frontend/src/app/CiFailures/CiFailures.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

comment removal of closed issue from impact table
  backend/api/server/failure_rotate.go
Due: dashboard-backend-on-pull-request

Update jira_bugs.go
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

add tests lint
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/pkg/connectors/github/repositories_test.go
Due: dashboard-backend-on-pull-request

Add unit tests to RHTAP (#227)
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/pkg/connectors/github/repositories_test.go
Due: dashboard-backend-on-pull-request

AD-121
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  frontend/src/app/Jira/CustomStackChart.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Jira/ListIssuesTable.tsx
  frontend/src/app/Jira/utils.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

add tests lint
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

feature: [AD-115] Adding retest average for open PRs (#197)
  backend/api/apis/codecov/v1alpha1/v1alpha1.go
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/connectors/github/comments.go
  backend/pkg/storage/ent/client/pullrequests.go
  backend/pkg/storage/ent/client/pullrequests_metrics.go
  backend/pkg/storage/ent/db/codecov.go
  backend/pkg/storage/ent/db/codecov/codecov.go
  backend/pkg/storage/ent/db/codecov/where.go
  backend/pkg/storage/ent/db/codecov_create.go
  backend/pkg/storage/ent/db/codecov_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/where.go
  backend/pkg/storage/ent/db/pullrequests_create.go
  backend/pkg/storage/ent/db/pullrequests_update.go
  backend/pkg/storage/ent/schema/codecov.go
  backend/pkg/storage/ent/schema/pull_requests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add dynamic plug display
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/Hub/Installed.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/initState.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add dynamic plug display
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/Hub/Installed.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add dynamic plug display
  frontend/src/app/Hub/Installed.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

feat: [AD-108] Display whole numbers within the OpenShift CI Test Report Page (#225)
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add yaml config editor for plugin
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/routes.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add yaml config editor for plugin
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Common/Empty.tsx
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/Hub/Installed.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update README.md
  README.md
Due: none

AD-128: RHTAPBUGS Impact on CI not working when adding a new entry (#226)
  README.md
  backend/api/apis/failure/v1alpha1/failure.go
  backend/api/server/failure_rotate.go
  backend/api/server/router/failure/failure.go
  backend/api/server/router/failure/types.go
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

delete handleNaN func
  backend/pkg/storage/ent/client/utils.go
Due: dashboard-backend-on-pull-request

delete handleNaN func (#230)
  backend/pkg/storage/ent/client/utils.go
Due: dashboard-backend-on-pull-request

[AD-102] Added Created and Merged PRs in time range metric
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-102] Adds annotations
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-102] Corrects comment
  backend/api/apis/github/v1alpha1/prs.go
Due: dashboard-backend-on-pull-request

Add new endpoint for occurrencies
  backend/api/apis/prow/v1alpha1/suites.go
  backend/api/server/middleware/auth.go
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/suites/suites.go
  backend/api/server/router/suites/suites_router.go
  backend/api/server/server.go
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/repository.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/where.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_update.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/ent/schema/prow_suites.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

add flakey tests view
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakeyTests/ocurrencies1.json
  frontend/src/app/app.css
  frontend/src/app/routes.tsx
  yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add failure dates and fix dropdown
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add sortable count field
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adapt to new data model
  frontend/.eslintrc
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/app.css
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adapt to new data model
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
