Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

fix tests
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
Due: dashboard-backend-on-pull-request

fix tests
  backend/api/apis/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
Due: dashboard-backend-on-pull-request

Improving teams (#43)
  backend/api/server/router/database/database.go
  backend/api/server/router/database/database_route.go
  backend/api/server/router/teams/teams.go
  backend/api/server/router/teams/teams_route.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/postgres.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/schema/repositories.go
  backend/pkg/storage/storage.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Teams/Teams.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add resolution time for bugs
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

Add resolution time for bugs (#45)
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

add bugs displays
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Appstudio update backend-quality-dashboard-e8qk
  .tekton/backend-quality-dashboard-e8qk-pull-request.yaml
  .tekton/backend-quality-dashboard-e8qk-push.yaml
Due: none

Added ppc64le support
  .github/workflows/container-build.yaml
  frontend/build/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving github plugin page
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving github plugin page
  backend/pkg/connectors/github/repositories.go
  backend/pkg/connectors/github/repositories_test.go
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/GithubActions.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add open bugs
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

improving
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request

clean
  frontend/src/app/Github/CreateRepository.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  backend/pkg/storage/ent/client/codecov.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/repository.go
  backend/pkg/storage/ent/client/workflows.go
Due: dashboard-backend-on-pull-request

Add year
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

improving
  backend/pkg/connectors/github/repositories.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add bugs displays
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

bug metrics by all categories
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
Due: dashboard-backend-on-pull-request

add link
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add bugs displays
  frontend/src/app/Jira/FakeChart.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add bugs displays: small fixes
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

project list api
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/connectors/jira/jira.go
  backend/pkg/connectors/jira/projects.go
Due: dashboard-backend-on-pull-request

updating prs over time
  backend/api/apis/github/v1alpha1/prs.go
  backend/api/server/rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/pkg/storage/ent/client/pullrequests.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/where.go
  backend/pkg/storage/ent/db/pullrequests_create.go
  backend/pkg/storage/ent/db/pullrequests_update.go
  backend/pkg/storage/ent/schema/pull_requests.go
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

default to 30 days
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

changing default to 365 days + added loading
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

default to 30 + change three dots position
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix metric
  backend/pkg/storage/ent/client/types.go
Due: dashboard-backend-on-pull-request

fix dependencie
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

fixxxx
  backend/api/apis/github/v1alpha1/prs.go
  backend/api/server/rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/pkg/connectors/github/pull_requests_query.go
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request

another fix
  backend/pkg/connectors/github/pull_requests_query.go
Due: dashboard-backend-on-pull-request

improving MergeAvg and cards + default to 90 days
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

field key_jiras
  backend/api/server/router/teams/teams.go
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/teams.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

add "Retest Before Merge Avg Times" card
  backend/api/server/rotate.go
  backend/pkg/connectors/github/comments.go
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
