Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

[AD-102] Add count of Merged/Created PRs on GitHub Page (#231)
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adapt to new data model
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adapt to new data model
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/app.css
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-134
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
Due: dashboard-backend-on-pull-request

Add trends metrics for flaky tests
  backend/api/apis/prow/v1alpha1/suites.go
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/suites/suites.go
  backend/api/server/router/suites/suites_router.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/where.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_update.go
  backend/pkg/storage/ent/schema/prow_suites.go
  backend/pkg/storage/storage.go
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

AD-135
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

Add endpoint for prow repos
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/prow/job_route.go
  backend/api/server/router/suites/suites.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

adapt to new data model
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Filter ocurrencies
  backend/api/server/router/prow/job.go
  backend/api/server/router/suites/suites.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

adapt to new data model
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Filter ocurrencie
  backend/api/server/prow_rotate.go
  backend/api/server/router/prow/job.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

add auto-loading on start
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Filter correctly trends by repo and org
  backend/api/server/router/suites/suites.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
Due: dashboard-backend-on-pull-request

fix dates
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-135 - fix 'Bug SLIs alerts are reporting closed issues' (#233)
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

AD-134 - Exclude weekend days in SLIs for Triage and Response Time (#232)
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
Due: dashboard-backend-on-pull-request

add regression
  backend/api/apis/prow/v1alpha1/suites.go
  backend/pkg/ml/regression.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
Due: dashboard-backend-on-pull-request

add regression
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push
