Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

rollout dependencies
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

rollout dependencies (#109)
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add dex server to authentications
  .tekton/frontend-quality-dashboard-push.yaml
  qd-authenticator/Dockerfile
  qd-authenticator/Readme.md
  qd-authenticator/devfile.yaml
  qd-authenticator/dex/base/deploy.yaml
Due: none

Add dex server to authentications (#111)
  .tekton/frontend-quality-dashboard-push.yaml
  qd-authenticator/Dockerfile
  qd-authenticator/Readme.md
  qd-authenticator/devfile.yaml
  qd-authenticator/dex/base/deploy.yaml
Due: none

Red Hat Trusted App Pipeline update frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update qd-authenticator-quality-dashboard
  .tekton/qd-authenticator-quality-dashboard-pull-request.yaml
  .tekton/qd-authenticator-quality-dashboard-push.yaml
Due: none

add true to clair
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

add true to clair
  frontend/src/app/utils/oauth.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add replacements
  frontend/Dockerfile
  frontend/devfile.yaml
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add env
  .gitignore
  frontend/.env
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add env (#114)
  .gitignore
  frontend/.env
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

revert
  frontend/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Red Hat Trusted App Pipeline update frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

chore: update devfile/library go module version
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
Due: dashboard-backend-on-pull-request

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  .tekton/qd-authenticator-quality-dashboard-pull-request.yaml
  .tekton/qd-authenticator-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

fix range date time
  frontend/src/app/CiFailures/CreateFailure.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix typo
  backend/README.md
Due: dashboard-backend-on-pull-request

Red Hat Trusted App Pipeline purge qd-authenticator-quality-dashboard
  .tekton/qd-authenticator-quality-dashboard-pull-request.yaml
  .tekton/qd-authenticator-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

upgrade dex names
  database/Dockerfile
  database/base/deploy.yaml
  database/devfile.yaml
  dex/Dockerfile
  dex/Readme.md
  dex/deploy/base/deploy.yaml
  dex/devfile.yaml
Due: none

upgrade dex names (#126)
  database/Dockerfile
  database/base/deploy.yaml
  database/devfile.yaml
  dex/Dockerfile
  dex/Readme.md
  dex/deploy/base/deploy.yaml
  dex/devfile.yaml
Due: none

fixes
  backend/devfile.yaml
  dex/devfile.yaml
Due: dashboard-backend-on-pull-request

Appstudio to RHTAP
  README.md
Due: none

fix range date time from 30 to 15 (#123)
  README.md
  backend/README.md
  frontend/src/app/CiFailures/CreateFailure.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixes
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  frontend/.env
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

remove clair check
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

replace rotationFrequency to the right value
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

Red Hat Trusted App Pipeline update dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

Fix kube-linter issues
  backend/deploy/base/deployment.yaml
  frontend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
