Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

AD-68 - track failed E2E test cases (#55)
  README.md
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/server/prow_rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_query.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/codecov_create.go
  backend/pkg/storage/ent/db/codecov_query.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/migrate.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_query.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_query.go
  backend/pkg/storage/ent/db/pullrequests_create.go
  backend/pkg/storage/ent/db/pullrequests_query.go
  backend/pkg/storage/ent/db/repository_create.go
  backend/pkg/storage/ent/db/repository_query.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/workflows_create.go
  backend/pkg/storage/ent/db/workflows_query.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix null values error
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/schema/prow_jobs.go
Due: dashboard-backend-on-pull-request

fix "prow_jobs" contains null values (#56)
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/schema/prow_jobs.go
Due: dashboard-backend-on-pull-request

fix invalid date on safari
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/pullrequests_metrics.go
Due: dashboard-backend-on-pull-request

fix invalid date on safari (#58)
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/pullrequests_metrics.go
Due: dashboard-backend-on-pull-request

Change place for appstudio to detect frontend component
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixes
  .github/workflows/container-build.yaml
Due: none

fixes
  frontend/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Change place for appstudio to detect frontend component (#59)
  .github/workflows/container-build.yaml
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-77 and AD-78
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  backend/api/server/router/teams/teams.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/types.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-77 and AD-78: populate "Chosen options" + include the Jira project key in the list of projects (#60)
  backend/api/server/router/teams/teams.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/types.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-81] Ability to sort and filter JIRA data in UI
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-81] Ability to sort and filter JIRA data in UI (#61)
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Jira page] fix undefined cases in sortRows
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[Jira page] fix undefined cases in sortRows (#62)
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-75] add loading to GitHub + OpenShift CI page
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-75] add loading to GitHub + OpenShift CI page
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Do not merge this PR.
  frontend/README.md
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Upgrade react dependencies
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

update axios timeout in updateTeam
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

update axios timeout in updateTeam (#66)
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: fix tekton pipelines.
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

[AD-75] add loading to GitHub and OpenShift CI pages (#63)
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-71 - add config page
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
  README.md
  frontend/package.json
  frontend/src/app/Config/Config.tsx
  frontend/src/app/Config/Editor.tsx
  frontend/src/app/Config/Sample.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/utils.ts
  frontend/stylePaths.js
  frontend/webpack.common.js
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-71 - add config page (#57)
  README.md
  frontend/package.json
  frontend/src/app/Config/Config.tsx
  frontend/src/app/Config/Editor.tsx
  frontend/src/app/Config/Sample.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/utils.ts
  frontend/stylePaths.js
  frontend/webpack.common.js
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add a timeout to yarn install dependencies
  frontend/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

RHTAPBUGS-120: Add a timeout to yarn install dependencies (#68)
  frontend/Dockerfile
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dex oauth test
  backend/api/server/router/login/login.go
  backend/api/server/router/login/login_route.go
  backend/api/server/server.go
  backend/go.mod
  backend/go.sum
  frontend/package.json
  frontend/src/app/Login/Login.tsx
  frontend/src/app/routes.tsx
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dex oauth test
  backend/api/server/router/login/login.go
  frontend/package.json
  frontend/src/app/Login/Login.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add authenticated routes
  backend/api/server/middleware/auth.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

Add authenticated routes (#69)
  backend/api/server/middleware/auth.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

AD-82 Update JIRA filter
  backend/api/server/router/jira/jira.go
Due: dashboard-backend-on-pull-request

AD-82 Update JIRA filter (#70)
  backend/api/server/router/jira/jira.go
Due: dashboard-backend-on-pull-request

add login flow to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/Login/Login.tsx
  frontend/src/app/index.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/initState.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Login/Login.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/oauth.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
