Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

add projects to team creation
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving github cards
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving github cards style
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

deleted Jobs.tsx + improve links to open new page
  frontend/src/app/Github/GithubActions.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Jobs/Jobs.tsx
  frontend/src/app/Overview/About.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add help popover to "Retest Before Merge Avg"
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/Github/CodeCov.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

prettier Github folder
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/GithubActions.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix typos
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/pkg/connectors/github/comments.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix tests
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
Due: dashboard-backend-on-pull-request

Appstudio update backend-quality-dashboard-uw8a
  .tekton/backend-quality-dashboard-uw8a-pull-request.yaml
  .tekton/backend-quality-dashboard-uw8a-push.yaml
Due: none

fix "Internal panic occurred" error
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request

add projects to team creation
  backend/api/server/router/teams/teams.go
  backend/pkg/storage/ent/client/teams.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add popover to "Merge PR Time Avg Days" card
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix lowercase project search
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve card name
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/Github/PullRequests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add team name to post requests
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixes field
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

fixes teams
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

fix bugs table bug
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix related bugs
  backend/api/server/rotate.go
  backend/api/server/router/teams/teams.go
  backend/api/server/router/teams/teams_route.go
  backend/go.sum
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/storage.go
  frontend/src/app/routes.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixing github clear button error
  backend/go.sum
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix and improve github page
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix when u dont have jira keys
  backend/api/server/router/teams/teams.go
Due: dashboard-backend-on-pull-request

Bug metrics UI (#48)
  README.md
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/api/server/router/teams/teams.go
  backend/api/server/router/teams/teams_route.go
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/connectors/jira/jira.go
  backend/pkg/connectors/jira/projects.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/teams.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update rotator time
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

Update rotator time (#52)
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

Update kustomization.yaml
  frontend/deploy/base/kustomization.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: Secret dashboard auth secret (#53)
  frontend/deploy/base/kustomization.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: dashboard secret creation
  frontend/deploy/base/kustomization.yaml
  frontend/deploy/base/secret.yaml
  frontend/deploy/overlays/local/kustomization.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix: [solution 2] dashboard secret creation (#54)
  frontend/deploy/base/kustomization.yaml
  frontend/deploy/base/secret.yaml
  frontend/deploy/overlays/local/kustomization.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

STONE-523 - track failed E2E test cases
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/server/prow_rotate.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_query.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/codecov_create.go
  backend/pkg/storage/ent/db/codecov_query.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/migrate.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_query.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_query.go
  backend/pkg/storage/ent/db/pullrequests_create.go
  backend/pkg/storage/ent/db/pullrequests_query.go
  backend/pkg/storage/ent/db/repository_create.go
  backend/pkg/storage/ent/db/repository_query.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/workflows_create.go
  backend/pkg/storage/ent/db/workflows_query.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  frontend/src/app/Reports/FailedE2ETests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix prow jobs schema
  backend/pkg/storage/ent/schema/prow_jobs.go
Due: dashboard-backend-on-pull-request

Update bug search
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

add jobType filter to FailedE2ETests
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix null values
  README.md
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  frontend/src/app/Reports/FailedE2ETests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

delete Test Suites card and clean related code
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
