Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

add login flow to frontend
  frontend/src/app/Login/Login.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/Login/Login.tsx
  frontend/src/app/store/store.tsx
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add login flow to frontend
  frontend/src/app/Login/Login.tsx
  frontend/src/app/store/store.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-67 + AD-91
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add popover to Bugs affecting CI card
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

rm ariaTitle in BugsChart + PullRequestsGraphic
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-67] add Bugs affecting CI to Jira plugin and [AD-91] remove resolved at and resolution time in open bugs (#71)
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-95
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/storage.go
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adding load page to Jira plugin + improvements
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add cors
  backend/api/server/middleware/auth.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

Add authenticated routes with dex to quality-dashboard (#73)
  backend/api/server/middleware/auth.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/deploy/base/deployment.yaml
  hack/install.sh
Due: dashboard-backend-on-pull-request

Add environments to frontend
  backend/deploy/base/deployment.yaml
  frontend/.env
  frontend/Dockerfile
  frontend/deploy/base/deployment.yaml
  frontend/deploy/base/service.yaml
  frontend/entrypoint.sh
  frontend/src/app/utils/oauth.ts
  frontend/webpack.dev.js
  hack/install.sh
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

remove login route
  backend/api/server/router/login/login.go
  backend/api/server/router/login/login_route.go
  backend/api/server/server.go
  frontend/src/app/utils/oauth.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Frontend dex oauth (#74)
  backend/api/server/router/jira/jira.go
  backend/go.mod
  backend/go.sum
  frontend/.env
  frontend/Dockerfile
  frontend/deploy/base/deployment.yaml
  frontend/deploy/base/service.yaml
  frontend/entrypoint.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/index.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/initState.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
  frontend/webpack.dev.js
  frontend/yarn.lock
  hack/install.sh
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore: updated readme instructions
  backend/README.md
  frontend/README.md
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore: updated readme instructions (#75)
  backend/README.md
  frontend/README.md
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-95] - enable to zoom in into time period (#72)
  backend/api/apis/jira/v1alpha1/bugs_types.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/storage.go
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add database connections
  database/Dockerfile
  database/base/deploy.yaml
  database/devfile.yaml
Due: none

Add backend connections to db
  backend/devfile.yaml
Due: dashboard-backend-on-pull-request

go tidy
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

AD-99
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-99
  frontend/package.json
  frontend/src/app/Reports/utils.tsx
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Red Hat Trusted App Pipeline update backend-quality-dashboard-owhw
  .tekton/backend-quality-dashboard-owhw-pull-request.yaml
  .tekton/backend-quality-dashboard-owhw-push.yaml
Due: none

Red Hat Trusted App Pipeline update database-quality-dashboard-v7sc
  .tekton/database-quality-dashboard-v7sc-pull-request.yaml
  .tekton/database-quality-dashboard-v7sc-push.yaml
Due: none

Add new demo endpoint
  backend/api/server/middleware/auth.go
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Add new demo endpoint to my quality demo (#79)
  backend/api/server/middleware/auth.go
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Test_endpoint
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Change endpoint return (#80)
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Change PVC to ReadWriteOnce to ReadWriteMany
  database/base/deploy.yaml
Due: none

Change PVC to ReadWriteOnce to ReadWriteMany (#81)
  database/base/deploy.yaml
Due: none

Appstudio purge backend-quality-dashboard-owhw
  .tekton/backend-quality-dashboard-owhw-pull-request.yaml
  .tekton/backend-quality-dashboard-owhw-push.yaml
Due: none

Appstudio purge database-quality-dashboard-v7sc
  .tekton/database-quality-dashboard-v7sc-pull-request.yaml
  .tekton/database-quality-dashboard-v7sc-push.yaml
Due: none

Remove tekton files
  .tekton/backend-quality-dashboard-owhw-pull-request.yaml
  .tekton/backend-quality-dashboard-owhw-push.yaml
  .tekton/database-quality-dashboard-v7sc-pull-request.yaml
  .tekton/database-quality-dashboard-v7sc-push.yaml
Due: none

fix perms
  database/base/deploy.yaml
Due: none

fix port
  backend/devfile.yaml
Due: dashboard-backend-on-pull-request

Red Hat Trusted App Pipeline update backend-quality-dashboard-okqr
  .tekton/backend-quality-dashboard-okqr-pull-request.yaml
  .tekton/backend-quality-dashboard-okqr-push.yaml
Due: none

Red Hat Trusted App Pipeline update database-quality-dashboard-np6h
  .tekton/database-quality-dashboard-np6h-pull-request.yaml
  .tekton/database-quality-dashboard-np6h-push.yaml
Due: none

Appstudio purge backend-quality-dashboard-okqr
  .tekton/backend-quality-dashboard-okqr-pull-request.yaml
  .tekton/backend-quality-dashboard-okqr-push.yaml
Due: none

Appstudio purge database-quality-dashboard-np6h
  .tekton/database-quality-dashboard-np6h-pull-request.yaml
  .tekton/database-quality-dashboard-np6h-push.yaml
Due: none

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
