Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

Read many
  database/base/deploy.yaml
Due: none

Read once
  database/base/deploy.yaml
Due: none

Red Hat Trusted App Pipeline update backend-quality-dashboard-ljbq
  .tekton/backend-quality-dashboard-ljbq-pull-request.yaml
  .tekton/backend-quality-dashboard-ljbq-push.yaml
Due: none

Change output of demo endpoint
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Change demo endpoint output (#89)
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Change output of demo endpoint (#90)
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Test endpoint in arch call
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Test demo endpoint in arch call (#91)
  backend/api/server/server.go
Due: dashboard-backend-on-pull-request

Appstudio purge backend-quality-dashboard-ljbq
  .tekton/backend-quality-dashboard-ljbq-pull-request.yaml
  .tekton/backend-quality-dashboard-ljbq-push.yaml
Due: none

[AD-99] Time selector does not work in date range selector (#76)
  frontend/package.json
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/utils/DateTimeRangePicker.tsx
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Upgrade ubi image of backend
  backend/Dockerfile
Due: dashboard-backend-on-pull-request

AD-84: frontend
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/GithubActions.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

requested changes
  frontend/src/app/Github/Github.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve
  frontend/src/app/Github/Github.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-84 frontend: global GitHub view (#95)
  frontend/src/app/Github/CodeCov.tsx
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/GithubActions.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/DateTimeRangePicker.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

temporary log error
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/storage.go
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

temporary log error to dig AD-106 (#96)
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/storage.go
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add more logs
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/server.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

temporary log error (#97)
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/server.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-106
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/server.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/utils.go
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

exclude hacbs-e2e-periodic job
  backend/pkg/storage/ent/client/prow_metrics.go
Due: dashboard-backend-on-pull-request

AD-106: fix periodic job does not load (#98)
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/utils.go
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/server.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean (#99)
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/server.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add urls
  frontend/deploy/base/deployment.yaml
  frontend/src/app/utils/oauth.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add urls
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

fixes
  backend/api/server/middleware/auth.go
  backend/api/server/server.go
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/oauth.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

change fetch to axios
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

testing: change fetch to axios (#102)
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Red Hat Trusted App Pipeline update frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

remove manually.tekton
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  .tekton/pull-request-backend.yaml
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

downgrade webpack
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

downgrade webpack (#108)
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
