Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

Add dex configuration
  README.md
Due: none

Red Hat Trusted App Pipeline purge frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Update RHTAP references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Delete .tekton directory
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Add permissions to tmp
  frontend/.env
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix frontend
  frontend/Dockerfile
  frontend/deploy/base/deployment.yaml
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix frontend
  frontend/Dockerfile
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Red Hat Trusted App Pipeline update dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

increase memory
  .tekton/frontend-quality-dashboard-pull-request.yaml
Due: none

skip high load
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

skip clair due high load
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

skip clair due high load (#173)
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Update RHTAP references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

RHTAP-1312
  README.md
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/api/server/router/jira/types.go
  backend/api/server/server.go
  backend/api/server/slack_alert.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/jira/issues.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/.env
  frontend/src/app/BugSLOs/BugSLOsTable.tsx
  frontend/src/app/BugSLOs/MainPage.tsx
  frontend/src/app/BugSLOs/Metrics.tsx
  frontend/src/app/BugSLOs/OverviewTable.tsx
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/Header.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update routes.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update routes.tsx to protected route (#176)
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Change 0.0.0.0 to localhost
  frontend/.env
  frontend/webpack.dev.js
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Change 0.0.0.0 to localhost (#177)
  frontend/.env
  frontend/webpack.dev.js
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix fetch calls
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Replace fetch call with axios call (#178)
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix data loading
  frontend/src/app/CiFailures/CiFailures.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Test golang ci linter
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  backend/tests/pipelines/integration_pipelines.yaml
  frontend/.env
  frontend/src/app/routes.tsx
  frontend/webpack.dev.js
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix2
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

fix golang ci lint install
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Fix data loading after axios request (#180)
  frontend/src/app/CiFailures/CiFailures.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

[AD-116] fixing query
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request

Postgres version change
  .github/workflows/validate-pr.yaml
  README.md
Due: none

Add sidecar images
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

fix: Postgres version (#182)
  .github/workflows/validate-pr.yaml
  README.md
Due: none

wait for psql
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

wait for psql
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/tests/pipelines/integration_pipelines.yaml
Due: dashboard-backend-on-pull-request

Remove github workflows and have only rhtap ci
  .github/workflows/container-build.yaml
  .github/workflows/validate-pr.yaml
Due: none

Add golang linter
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  backend/api/server/router/teams/teams.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/pkg/connectors/github/github.go
  backend/pkg/connectors/github/repositories_test.go
Due: dashboard-backend-on-pull-request

fix
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/api/server/router/repositories/repositories_route.go
  backend/cmd/server/main.go
  backend/pkg/connectors/github/github.go
  backend/pkg/connectors/github/repositories.go
  backend/pkg/connectors/github/repositories_test.go
Due: dashboard-backend-on-pull-request

fix: [AD-116] fixing card values in Metrics (#181)
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request
