Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

fix: backend: sync issue (#323)
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

fix: github org in function calls
  backend/api/server/prow_rotate.go
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

fix: github org in function calls (#324)
  backend/api/server/prow_rotate.go
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

fix: upgrade monaco-editor from 0.36.1 to 0.49.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade axios from 1.6.7 to 1.7.2
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade react-hook-form from 7.51.1 to 7.51.5
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade @patternfly/react-charts from 6.94.19 to 6.94.21
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade @reduxjs/toolkit from 1.9.5 to 1.9.7
  frontend/package.json
Due: dashboard-frontend-on-pull-request

docs: fix link to failure code
  README.md
Due: none

fix: upgrade monaco-editor from 0.36.1 to 0.50.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request

docs: fix link to failure code (#330)
  README.md
Due: none

feat: add konflux jobs metadata endpoint
  backend/api/server/router/konflux/konflux.go
  backend/api/server/router/konflux/konflux_route.go
Due: dashboard-backend-on-pull-request

fix: get git org in flakey tests
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-frontend-on-pull-request

feat: add /konflux/metadata/post endpoint
  backend/api/server/router/konflux/konflux.go
  backend/api/server/router/konflux/konflux_route.go
  backend/api/server/router/konflux/types.go
  backend/api/server/server.go
  backend/go.sum
Due: dashboard-backend-on-pull-request

chore: KonfluxMetadata struct comments
  backend/api/server/router/konflux/types.go
Due: dashboard-backend-on-pull-request

chore: rename CI metrics in UI
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request

feat: add konflux jobs metadata endpoint (#332)
  backend/api/server/router/konflux/konflux.go
  backend/api/server/router/konflux/konflux_route.go
  backend/api/server/router/konflux/types.go
  backend/api/server/server.go
  backend/go.sum
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Overview/About.tsx
  frontend/src/app/Overview/InfoBanner.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/routes.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

[Snyk] Upgrade monaco-editor from 0.36.1 to 0.50.0 (#331)
  frontend/package.json
Due: dashboard-frontend-on-pull-request

[AD-162] Adds trends to Github Table and Metrics card
  backend/api/apis/github/v1alpha1/prs.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
  frontend/src/app/utils/utils.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

Adds significance determining to trends
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/storage/ent/client/pullrequests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request

Fixes PR card data
  frontend/src/app/Github/PullRequests.tsx
  frontend/yarn.lock
Due: dashboard-frontend-on-pull-request

Adds comment
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/pullrequests.go
Due: dashboard-backend-on-pull-request

Fixes trend in GH metrics table
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
  frontend/src/app/utils/utils.tsx
Due: dashboard-frontend-on-pull-request

fix: upgrade multiple dependencies with Snyk
  frontend/package.json
Due: dashboard-frontend-on-pull-request

Use docker-build pipeline from quay.io/konflux-ci
  .tekton/pull-request-backend.yaml
  .tekton/pull-request-frontend.yaml
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

fix: upgrade axios from 1.6.7 to 1.7.7
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade react-hook-form from 7.51.1 to 7.53.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade oauth4webapi from 2.10.3 to 2.12.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade yaml from 2.4.2 to 2.5.0
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade @storybook/builder-webpack5 from 7.6.17 to 7.6.20
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade axios from 1.6.7 to 1.7.8
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade react-hook-form from 7.51.1 to 7.53.2
  frontend/package.json
Due: dashboard-frontend-on-pull-request

fix: upgrade axios from 1.6.7 to 1.7.9
  frontend/package.json
Due: dashboard-frontend-on-pull-request

Update postgres.yaml
  backend/deploy/overlays/local/postgres.yaml
Due: dashboard-backend-on-pull-request
