Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

Remove github Actions!! Run all golang checks in RHTAP (#179)
  .github/workflows/container-build.yaml
  .github/workflows/validate-pr.yaml
  .tekton/backend-quality-dashboard-pull-request.yaml
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  backend/api/server/router/teams/teams.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/pkg/connectors/github/github.go
  backend/pkg/connectors/github/repositories.go
  backend/pkg/connectors/github/repositories_test.go
Due: dashboard-backend-on-pull-request

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

remove empty lin
  README.md
Due: none

remove empty line from readme (#184)
  README.md
Due: none

Use 6Gb version of build task
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

fix
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Use path-context to access git cloned repo
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Use path-context to access git cloned repo (#188)
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Use 6Gb version of build task (#185)
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

add trycatch
  frontend/package.json
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/Teams/User.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

change icon size
  frontend/src/app/Teams/User.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add user information to the toolbar (#186)
  frontend/package.json
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/Teams/User.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

first hub page
  frontend/package-lock.json
  frontend/public/images/codecov-square.png
  frontend/public/images/github-mark.png
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

first hub page
  frontend/src/app/Hub/Hub.tsx
  frontend/src/images/codecov-square.png
  frontend/src/images/github-mark.png
  frontend/src/images/jira.png
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

first hub page
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/Hub/Installed.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

first hub page
  frontend/src/app/Hub/Hub.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add CRUD operation for plugins
  backend/api/apis/plugins/v1alpha1/v1alpha1.go
  backend/api/server/middleware/auth.go
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/plugins/plugins_router.go
  backend/api/server/server.go
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/config.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_delete.go
  backend/pkg/storage/ent/db/plugins_query.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/predicate/predicate.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/db/teams.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/db/tx.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

Add CRUD operation for plugins (#193)
  backend/api/apis/plugins/v1alpha1/v1alpha1.go
  backend/api/server/middleware/auth.go
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/plugins/plugins_router.go
  backend/api/server/server.go
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/config.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_delete.go
  backend/pkg/storage/ent/db/plugins_query.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/predicate/predicate.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/db/teams.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/db/tx.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

Update teams to install several plugins and renovate swagger
  backend/api/server/router/jira/jira.go
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/workflows.go
  backend/docs/swagger/docs.go
  backend/docs/swagger/swagger.json
  backend/docs/swagger/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_query.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/ent/schema/teams.go
Due: dashboard-backend-on-pull-request

Add Plugins info API to Quality studio (#195)
  backend/api/apis/plugins/v1alpha1/v1alpha1.go
  backend/api/server/middleware/auth.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/plugins/plugins_router.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/workflows.go
  backend/api/server/server.go
  backend/docs/swagger/docs.go
  backend/docs/swagger/swagger.json
  backend/docs/swagger/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/db/client.go
  backend/pkg/storage/ent/db/config.go
  backend/pkg/storage/ent/db/ent.go
  backend/pkg/storage/ent/db/hook/hook.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_delete.go
  backend/pkg/storage/ent/db/plugins_query.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/predicate/predicate.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/db/teams.go
  backend/pkg/storage/ent/db/teams/teams.go
  backend/pkg/storage/ent/db/teams/where.go
  backend/pkg/storage/ent/db/teams_create.go
  backend/pkg/storage/ent/db/teams_query.go
  backend/pkg/storage/ent/db/teams_update.go
  backend/pkg/storage/ent/db/tx.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/ent/schema/teams.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

[AD-115] Adding retest average to PR metrics
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  backend/api/apis/codecov/v1alpha1/v1alpha1.go
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/connectors/github/comments.go
  backend/pkg/storage/ent/client/pullrequests.go
  backend/pkg/storage/ent/client/pullrequests_metrics.go
  backend/pkg/storage/ent/db/codecov.go
  backend/pkg/storage/ent/db/codecov/codecov.go
  backend/pkg/storage/ent/db/codecov/where.go
  backend/pkg/storage/ent/db/codecov_create.go
  backend/pkg/storage/ent/db/codecov_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/pullrequests.go
  backend/pkg/storage/ent/db/pullrequests/where.go
  backend/pkg/storage/ent/db/pullrequests_create.go
  backend/pkg/storage/ent/db/pullrequests_update.go
  backend/pkg/storage/ent/schema/codecov.go
  backend/pkg/storage/ent/schema/pull_requests.go
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Github/Metrics.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Github/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improvements
  README.md
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/api/server/router/jira/types.go
  backend/api/server/server.go
  backend/api/server/slack_alert.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
  frontend/src/app/BugSLIs/InfoBanner.tsx
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/BugSLIs/Types.tsx
  frontend/src/app/BugSLOs/BugSLOsTable.tsx
  frontend/src/app/BugSLOs/MainPage.tsx
  frontend/src/app/BugSLOs/Metrics.tsx
  frontend/src/app/BugSLOs/OverviewTable.tsx
  frontend/src/app/Github/PullRequests.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/ChartDonut.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

check if a team have plugins installed
  backend/api/apis/plugins/v1alpha1/v1alpha1.go
  backend/api/server/router/plugins/plugins.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/client/types.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

check if a team have plugins installed (#196)
  backend/api/apis/plugins/v1alpha1/v1alpha1.go
  backend/api/server/router/plugins/plugins.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/ent/client/types.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/plugins.go
  backend/pkg/storage/ent/db/plugins/plugins.go
  backend/pkg/storage/ent/db/plugins/where.go
  backend/pkg/storage/ent/db/plugins_create.go
  backend/pkg/storage/ent/db/plugins_update.go
  backend/pkg/storage/ent/db/runtime.go
  backend/pkg/storage/ent/schema/plugins.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

improve docs
  README.md
Due: none

improve
  README.md
Due: none

first hub page
  frontend/src/app/Hub/Hub.tsx
  frontend/src/app/Hub/Installed.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/images/jira-small.png
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

slis alert to teams
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/types.go
  backend/pkg/connectors/github/repositories.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/BugSLIs/Types.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve hub page
  frontend/src/app/Hub/Hub.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Allow to uninstall a plugin from database
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/plugins/plugins_router.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

Allow to uninstall a plugin from database (#198)
  backend/api/server/router/plugins/plugins.go
  backend/api/server/router/plugins/plugins_router.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/plugins.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

fix remove plugin method
  backend/api/server/router/plugins/plugins_router.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

improve hub page
  frontend/src/app/Hub/Installed.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improvements
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/types.go
  backend/pkg/connectors/github/repositories_test.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/SLIsStackChart.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/BugSLIs/Types.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve labels on jira
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push
