Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

AD-148 Add page with links to status pages
  frontend/src/app/Links/Links.tsx
  frontend/src/app/Links/StatusPages.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-148 Fixed conflicts
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-146
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/server/prow_rotate.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/suites/suites.go
  backend/api/server/router/suites/suites_router.go
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/storage.go
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add owners file(copied from e2e-tests, but onlt RHTAP QE people will have permissions)
  OWNERS
  OWNERS_ALIASES
Due: none

AD-149 - [Bug SLIs page] delete date time range selector and fix slis colors (#250)
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/SLIsStackChart.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add owners file(copied from e2e-tests, but only RHTAP QE people will (#252)
  OWNERS
  OWNERS_ALIASES
Due: none

AD-148 Add page with links to status pages (#249)
  frontend/src/app/Links/Links.tsx
  frontend/src/app/Links/StatusPages.tsx
  frontend/src/app/Overview/Overview.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

reenable teams mention
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

aligns cards
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

reenable teams mention in rhtap-bug-slis-alerts slack channel (#253)
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

fix
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-146 - Show a rate about other errors impact in ci like installation for example (#251)
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/api/server/prow_rotate.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/suites/suites.go
  backend/api/server/router/suites/suites_router.go
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/storage.go
  frontend/src/app/Reports/FailedE2ETests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-153
  README.md
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/types.go
  backend/go.sum
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
  frontend/src/app/BugSLIs/InfoBanner.tsx
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/SLIsStackChart.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/BugSLIs/Types.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/ChartDonut.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

revert
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

revert
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

improve
  backend/api/server/router/jira/bug_slos.go
Due: dashboard-backend-on-pull-request

clean
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve ci page and add external failures card
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add columns to RHTAPBUGS and add filtering
  backend/api/apis/failure/v1alpha1/failure.go
  backend/api/server/failure_rotate.go
  backend/api/server/router/failure/failure.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/failure.go
  backend/pkg/storage/ent/db/failure/failure.go
  backend/pkg/storage/ent/db/failure/where.go
  backend/pkg/storage/ent/db/failure_create.go
  backend/pkg/storage/ent/db/failure_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/failure.go
  backend/pkg/storage/storage.go
  frontend/.env
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

feat: improve RHTAPBUGS Impact view and add filtering (#254)
  backend/api/apis/failure/v1alpha1/failure.go
  backend/api/server/failure_rotate.go
  backend/api/server/router/failure/failure.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/failure.go
  backend/pkg/storage/ent/db/failure/failure.go
  backend/pkg/storage/ent/db/failure/where.go
  backend/pkg/storage/ent/db/failure_create.go
  backend/pkg/storage/ent/db/failure_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/failure.go
  backend/pkg/storage/storage.go
  frontend/.env
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-153 - [Bug SLI Dashboard] Add Component Assignment Triage Time metric (#255)
  README.md
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/rotate.go
  backend/api/server/router/jira/bug_slos.go
  backend/api/server/router/jira/types.go
  backend/go.sum
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
  frontend/src/app/BugSLIs/InfoBanner.tsx
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/SLIsStackChart.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/BugSLIs/Types.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/ChartDonut.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-156
  backend/api/server/failure_rotate.go
  backend/api/server/prow_rotate.go
  backend/pkg/storage/storage.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-156 - Align date pickers for OpenShift CI plugin (#256)
  backend/api/server/failure_rotate.go
  backend/api/server/prow_rotate.go
  backend/pkg/storage/storage.go
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

logs
  backend/api/server/router/jira/jira.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

added temporary logs (#257)
  backend/api/server/router/jira/jira.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

more logs
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

More logs (#258)
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

fix
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean logs + fix empty jira data (#259)
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-157
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

fix
  README.md
Due: none

AD-158
  README.md
  backend/api/server/rhtap_bug_slis_alert.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
Due: dashboard-backend-on-pull-request

fix docs
  README.md
Due: none

fix comment
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

remove old devfile lib
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

fix
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/repository_test.go
Due: dashboard-backend-on-pull-request

Remove devfile library and use a standard utility (#262)
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/codecov/codecov_test.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

'Test Reports' page improvements
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix
  README.md
  frontend/src/app/BugSLIs/CustomSLIChartDonutCard.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
