Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

bug slis alert: fix build-api-team to konfluxbld-green (#273)
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

change error code to badRequest
  backend/api/server/router/repositories/repositories.go
Due: dashboard-backend-on-pull-request

change error code to bad request (#274)
  backend/api/server/router/repositories/repositories.go
Due: dashboard-backend-on-pull-request

fix "Bugs Affecting CI" card
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update readme with instructions how to visualize DB schema.
  README.md
Due: none

Update readme with instructions how to visualise DB schema. (#276)
  README.md
Due: none

fix no jobs case in test report page
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix no jobs case in test report page
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix no-jobs case in Test Report page (#277)
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-165: fix 'Bugs Affecting CI' card in the Jira plugin (#275)
  backend/api/server/router/jira/jira.go
  backend/api/server/router/jira/jira_route.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-167
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean table
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-165 - clean Jira issues table every time 'Bugs affecting CI' is selected (#279)
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-167 - konflux bug slis (#278)
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Update codecov.go
  backend/pkg/connectors/codecov/codecov.go
Due: dashboard-backend-on-pull-request

testing (#280)
  backend/pkg/connectors/codecov/codecov.go
Due: dashboard-backend-on-pull-request

AD-171
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/Jira/utils.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

AD-171: split bulk when creating a large number of jira bugs (#282)
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/Jira/utils.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add dex issuer to envs
  frontend/.env
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add dex issuer to envs (#283)
  frontend/.env
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

logs
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

more log
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

logs (#284)
  backend/api/server/rotate.go
  backend/pkg/storage/ent/client/jira_bugs.go
Due: dashboard-backend-on-pull-request

increase backend memory
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

fix
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

increase requests
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

increase requests cpu
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

increase backend memory (#285)
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

AD-169
  backend/api/server/router/jira/jira.go
  frontend/.env
  frontend/src/app/Github/Github.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Login/Login.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/User.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

docs
  README.md
Due: none

AD-166
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

clean + improvement
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-170
  backend/api/server/router/teams/teams.go
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve regex
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-170 - improve the update of team projects (#288)
  backend/api/server/router/teams/teams.go
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-166 - improve "Add a repository" page when creating new team or adding a new repo in GitHub plugin (#287)
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  frontend/src/app/Github/CreateRepository.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-175
  README.md
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/CiFailures/CiFailures.tsx
  frontend/src/app/CiFailures/CreateFailure.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/Header.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

minor improvements
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix
  frontend/src/app/Teams/TeamsTable.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push
