Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

Red Hat Trusted App Pipeline purge frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Fix kube-linter issues (#134)
  backend/deploy/base/deployment.yaml
  frontend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Delete .tekton directory
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline update frontend-quality-dashboard
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

skip frontend tasks
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

remove ws
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Red Hat Trusted App Pipeline purge dex-quality-dashboard
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
Due: none

remove clamav
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-push.yaml
Due: none

remove clamav
  .tekton/backend-quality-dashboard-push.yaml
  frontend/.env
  frontend/entrypoint.sh
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

test
  backend/pkg/connectors/github/repositories.go
Due: dashboard-backend-on-pull-request

test
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

requested changes
  .tekton/frontend-quality-dashboard-pull-request.yaml
  backend/pkg/connectors/github/repositories.go
Due: dashboard-backend-on-pull-request

Update RHTAP references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

replace rotationFrequency to the right value (#153)
  .tekton/frontend-quality-dashboard-pull-request.yaml
  backend/api/server/rotate.go
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixes
  frontend/src/app/Teams/TeamsOnboarding.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Revert readOnlyRootFilesystem for quality-frontend-dashboard container
  frontend/deploy/base/deployment.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Revert readOnlyRootFilesystem for quality-frontend-dashboard container (#156)
  frontend/deploy/base/deployment.yaml
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Remove unused vars
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  backend/api/server/rotate.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

Upgrade ubi image of backend (#93)
  backend/Dockerfile
Due: dashboard-backend-on-pull-request

fix after review
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
  backend/api/server/rotate.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

Add golang lint task
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

fix golang ci lint
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Update RHTAP references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
