Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

Removing MIT license form frontend subfolder
  frontend/LICENSE
Due: dashboard-frontend-on-push

Add LICENSE file
  LICENSE
Due: none

Update dependencies
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

🐛 fix target_branch in PaC
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

🐛 Fix local frontend deployment
  frontend/deploy/overlays/local/kustomization.yaml
Due: dashboard-frontend-on-push

🐛 fix frontend PaC pipelines
  .tekton/pull-request-frontend.yaml
  .tekton/push-frontend.yaml
Due: none

🐛 AD-36 fix of push pipelines after SRVKP-2692 fix
  .tekton/push-backend.yaml
  .tekton/push-frontend.yaml
Due: none

Change codecov api to use v2. Old v1 is not working anymore
  backend/api/apis/codecov/codecov.go
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/teams/teams.go
  backend/docs/swagger/docs.go
  backend/docs/swagger/swagger.json
  backend/docs/swagger/swagger.yaml
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

clean/format frontend + some backend unit tests + workflow
  .github/workflows/validate-pr.yaml
  backend/api/apis/codecov/codecov_test.go
  backend/api/apis/github/repositories_test.go
  backend/api/apis/jira/issues.go
  backend/api/apis/jira/jira.go
  backend/api/server/router/jira/jira.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/prow/prow_metrics.go
  backend/api/server/router/prow/suites_model.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/ent_types.go
  backend/pkg/storage/ent/client/postgres.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/repository.go
  backend/pkg/storage/ent/client/repository_test.go
  backend/pkg/storage/ent/client/teams_test.go
  backend/pkg/storage/storage.go
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Dashboard/Dashboard.tsx
  frontend/src/app/Jobs/Jobs.tsx
  frontend/src/app/Repositories/CreateRepository.tsx
  frontend/src/app/Repositories/RepositoriesTable.tsx
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Support/Support.tsx
  frontend/src/app/Teams/Teams.tsx
  frontend/src/app/Teams/TeamsOnboarding.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/index.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/store/reducer.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-push

Improve jql query to get issues with ci-fail label
  backend/api/server/router/jira/jira.go
  backend/go.sum
  frontend/src/app/Dashboard/Dashboard.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-push

[AD-47 & AD-43] custom routes support
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/Dashboard/Dashboard.tsx
  frontend/src/app/Jobs/Jobs.tsx
  frontend/src/app/Repositories/TableComponent.tsx
  frontend/src/app/Support/Support.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/store/store.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/utils.ts
Due: dashboard-frontend-on-push

undo change
  frontend/src/app/Dashboard/Dashboard.tsx
Due: dashboard-frontend-on-push

Update version
  backend/api/server/router/version/version.go
Due: dashboard-backend-on-pull-request

AD-38: handle "Error fetching from data server"
  backend/api/apis/github/content.go
  backend/api/apis/jira/issues.go
  backend/api/server/prow_rotate.go
  backend/api/server/router/repositories/repositories.go
  backend/api/server/router/repositories/repositories_route.go
  backend/go.sum
  frontend/src/app/Jobs/Jobs.tsx
  frontend/src/app/Support/Support.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/utils.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-push

fixed panic function 'getAllRepositoriesWithOrgs'
  backend/api/server/router/repositories/repositories.go
  frontend/src/app/Jobs/Jobs.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-push

AD-54: Add custom Time Range on Tests Reports page
  backend/api/server/router/prow/prow_metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/storage.go
  frontend/package.json
  frontend/src/app/Support/Support.tsx
  frontend/src/app/Support/utils.tsx
  frontend/src/app/utils/APIService.ts
  frontend/src/app/utils/sharedComponents.tsx
  frontend/stylePaths.js
  frontend/yarn.lock
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-push

improving
  frontend/src/app/Support/Support.tsx
Due: dashboard-frontend-on-push

remove moment + create our DateTimeRangePicker
  frontend/package.json
  frontend/src/app/Support/DateTimeRangePicker.tsx
  frontend/src/app/Support/Support.tsx
  frontend/src/app/Support/utils.tsx
  frontend/src/app/utils/APIService.ts
  frontend/stylePaths.js
  frontend/yarn.lock
Due: dashboard-frontend-on-push

improving
  frontend/src/app/Support/DateTimeRangePicker.tsx
  frontend/src/app/Support/Support.tsx
Due: dashboard-frontend-on-push

requested changes
  frontend/src/app/Support/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-push

requested changes
  frontend/src/app/Support/Support.tsx
Due: dashboard-frontend-on-push

add search icon
  frontend/src/app/Support/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-push

improving
  frontend/src/app/Support/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-push

fix searchquickrange position
  frontend/src/app/Support/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-push

add margin top to apply date time range
  frontend/src/app/Support/DateTimeRangePicker.tsx
Due: dashboard-frontend-on-push

clean
  frontend/src/app/Reports/Reports.tsx
Due: dashboard-frontend-on-push

clean
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/tsconfig.json
  frontend/.storybook/webpack.config.js
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/NotFound/NotFound.tsx
  frontend/src/app/Reports/DateTimeRangePicker.tsx
  frontend/src/app/Reports/utils.tsx
  frontend/src/app/Settings/General/GeneralSettings.tsx
  frontend/src/app/Settings/Profile/ProfileSettings.tsx
  frontend/src/app/Support/Support.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  frontend/stories/Dashboard.stories.tsx
  frontend/stories/Support.stories.tsx
Due: dashboard-frontend-on-push

fix
  backend/go.sum
Due: dashboard-backend-on-pull-request

fix Total CI Jobs
  backend/pkg/storage/ent/client/prow_metrics.go
Due: dashboard-backend-on-pull-request

improving
  backend/pkg/storage/ent/client/prow_metrics.go
Due: dashboard-backend-on-pull-request

fix: remove secret from secret generator and use argocd sync waves
  frontend/deploy/base/deployment.yaml
  frontend/deploy/base/route.yaml
  frontend/deploy/base/secret.yaml
  frontend/deploy/base/service-account.yaml
  frontend/deploy/base/service.yaml
  frontend/deploy/overlays/local/kustomization.yaml
  frontend/users.htpasswd
Due: dashboard-frontend-on-push

remove unwanted files
  frontend/users.htpasswd
Due: dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-push: any of: frontend/***
