Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

dashboard-backend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}
  - name: path-context
    value: backend
  pipelineRef:
    name: docker-build
  ...

dashboard-frontend-on-pull-request:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}
  - name: path-context
    value: frontend
  - name: dockerfile
    value: frontend/build/Dockerfile
  ...

dashboard-frontend-on-push:
  params:
  - name: git-url
    value: '{{repo_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}
  - name: path-context
    value: frontend
  - name: infra-deployment-update-script
  ...

[AD-120] Add PULL_REQUEST_COMMIT to query, lower PR per page
  backend/api/apis/github/v1alpha1/prs.go
  backend/pkg/connectors/github/pull_requests_query.go
Due: dashboard-backend-on-pull-request

improvements
  README.md
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add slack token
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

Add slack token to deployment yamls (#201)
  backend/deploy/base/deployment.yaml
Due: dashboard-backend-on-pull-request

Red Hat Trusted App Pipeline purge backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

fix nil pointer
  backend/api/server/router/jira/bug_slos.go
Due: dashboard-backend-on-pull-request

clean
  backend/api/server/router/jira/bug_slos.go
Due: dashboard-backend-on-pull-request

Red Hat Trusted App Pipeline update backend-quality-dashboard
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
Due: none

Add backend tests
  .tekton/dex-quality-dashboard-pull-request.yaml
Due: none

Add backend tests
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

Add backend tests (#206)
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

remove backend tests
  .tekton/backend-quality-dashboard-pull-request.yaml
Due: none

improve
  backend/pkg/connectors/github/repositories.go
Due: dashboard-backend-on-pull-request

fix nil pointer (#203)
  backend/api/server/router/jira/bug_slos.go
  backend/pkg/connectors/github/repositories.go
Due: dashboard-backend-on-pull-request

improvements
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/bug_slos.go
  frontend/src/app/BugSLIs/MainPage.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve Bug SLI page description + change rhtap bug slis alerts slack channel (#207)
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/bug_slos.go
  frontend/src/app/BugSLIs/MainPage.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix
  backend/api/server/router/jira/bug_slos.go
Due: dashboard-backend-on-pull-request

fix nil pointer (#208)
  backend/api/server/router/jira/bug_slos.go
Due: dashboard-backend-on-pull-request

change fetch usage to axios
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-124: fix OpenShift CI page is empty (#209)
  frontend/src/app/utils/APIService.ts
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fixed hour to send slis alerts
  backend/api/server/rhtap_bug_slis_alert.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

fix
  backend/api/server/rhtap_bug_slis_alert.go
Due: dashboard-backend-on-pull-request

fix hour to send slis alerts (#210)
  backend/api/server/rhtap_bug_slis_alert.go
  backend/go.mod
  backend/go.sum
Due: dashboard-backend-on-pull-request

typo
  README.md
Due: none

typo (testing purposes) (#211)
  README.md
Due: none

chore(deps): update rhtap references
  .tekton/backend-quality-dashboard-pull-request.yaml
  .tekton/backend-quality-dashboard-push.yaml
  .tekton/dex-quality-dashboard-pull-request.yaml
  .tekton/dex-quality-dashboard-push.yaml
  .tekton/frontend-quality-dashboard-pull-request.yaml
  .tekton/frontend-quality-dashboard-push.yaml
Due: none

testing
  backend/Makefile
  backend/api/server/server.go
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

print
  backend/pkg/connectors/github/content.go
Due: dashboard-backend-on-pull-request

testing purposes (#216)
  backend/Makefile
  backend/api/server/server.go
  backend/pkg/connectors/github/content.go
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Revert "testing purposes (#216)"
  backend/Makefile
  backend/api/server/server.go
  backend/pkg/connectors/github/content.go
  frontend/src/app/Github/Github.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

revert
  backend/Makefile
Due: dashboard-backend-on-pull-request

CHANGE
  backend/Makefile
Due: dashboard-backend-on-pull-request

revert (#218)
  backend/Makefile
Due: dashboard-backend-on-pull-request

[AD-108] Adds whole numbers in OpenShift CI reports
  backend/api/apis/prow/v1alpha1/metrics.go
  backend/pkg/storage/ent/client/prow_metrics.go
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Path conditions:
  dashboard-backend-on-pull-request: any of: backend/***
  dashboard-frontend-on-pull-request: any of: frontend/***
  dashboard-frontend-on-push: any of: frontend/***
