Repository konflux-ci/quality-dashboard: changes, and which Tekton pipelines are due for each by the changed paths.
All: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

.tekton/pull-request-backend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-backend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "backend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-backend-{{revision}}"
    - name: path-context
      value: "backend"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/pull-request-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-pull-request
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "pull_request" && target_branch == "main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/pull-request-builds:quality-dashboard-frontend-{{revision}}"
    - name: path-context
      value: "frontend"
    - name: dockerfile
      value: "frontend/build/Dockerfile"
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

.tekton/push-frontend.yaml:

apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: dashboard-frontend-on-push
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push" && target_branch == "refs/heads/main" && "frontend/***".pathChanged()
    pipelinesascode.tekton.dev/max-keep-runs: "2"
spec:
  params:
    - name: git-url
      value: "{{repo_url}}"
    - name: revision
      value: "{{revision}}"
    - name: output-image
      value: "quay.io/redhat-appstudio/quality-dashboard-frontend:{{revision}}"
    - name: path-context
      value: "frontend"
    - name: infra-deployment-update-script
      value: |
        sed -i -e 's|\(https://github.com/redhat-appstudio/quality-dashboard/frontend/deploy/base?ref=\).*|\1{{ revision }}|' -e 's|\(newTag: \).*|\1{{ revision }}|' components/quality-dashboard/frontend/kustomization.yaml
  pipelineRef:
    name: docker-build
    bundle: quay.io/redhat-appstudio/hacbs-core-service-templates-bundle:latest
  workspaces:
    - name: workspace
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi

add regression
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-136
  README.md
Due: none

last fixes
  backend/api/server/router/suites/suites.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/storage/ent/client/suites_ocurrencies.go
Due: dashboard-backend-on-pull-request

without auth
  backend/pkg/connectors/gcs/gcs_authentication.go
Due: dashboard-backend-on-pull-request

AD-133: Add backend code to calculate flaky tests metrics (#234)
  backend/api/apis/prow/v1alpha1/jobs.go
  backend/api/apis/prow/v1alpha1/suites.go
  backend/api/server/middleware/auth.go
  backend/api/server/prow_rotate.go
  backend/api/server/rotate.go
  backend/api/server/router/prow/job.go
  backend/api/server/router/prow/job_route.go
  backend/api/server/router/suites/suites.go
  backend/api/server/router/suites/suites_router.go
  backend/api/server/server.go
  backend/cmd/server/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/connectors/gcs/gcs_authentication.go
  backend/pkg/ml/regression.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/ent/client/prow_suites.go
  backend/pkg/storage/ent/client/repository.go
  backend/pkg/storage/ent/client/suites_ocurrencies.go
  backend/pkg/storage/ent/client/utils.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/db/prowjobs.go
  backend/pkg/storage/ent/db/prowjobs/where.go
  backend/pkg/storage/ent/db/prowjobs_create.go
  backend/pkg/storage/ent/db/prowjobs_update.go
  backend/pkg/storage/ent/db/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/prowsuites.go
  backend/pkg/storage/ent/db/prowsuites/where.go
  backend/pkg/storage/ent/db/prowsuites_create.go
  backend/pkg/storage/ent/db/prowsuites_update.go
  backend/pkg/storage/ent/schema/prow_jobs.go
  backend/pkg/storage/ent/schema/prow_suites.go
  backend/pkg/storage/storage.go
  backend/pkg/utils/utils.go
Due: dashboard-backend-on-pull-request

Add Flaky Tests interface (#236)
  frontend/.eslintrc
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakeyTests/ocurrencies1.json
  frontend/src/app/Github/Github.tsx
  frontend/src/app/app.css
  frontend/src/app/routes.tsx
  frontend/src/app/utils/APIService.ts
  yarn.lock
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-137
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
  frontend/src/app/BugSLIs/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fetch data for analysis every 40 minutes instead of every 10 seconds to avoid rate limits
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

Fetch data for analysis every 40 minutes instead of every 10 seconds to avoid rate limits (#238)
  backend/api/server/rotate.go
Due: dashboard-backend-on-pull-request

fix errors
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/ocurrencies1.json
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix errors
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix chart
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Improve flaky tests interface (#239)
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/ocurrencies1.json
  frontend/src/app/routes.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-137 - Use only working days in all metrics in the Bug SLOs (#237)
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/client/utils.go
  frontend/src/app/BugSLIs/Table.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

logs
  backend/pkg/storage/ent/client/failure.go
Due: dashboard-backend-on-pull-request

adding logs to dig AD-138 (#240)
  backend/pkg/storage/ent/client/failure.go
Due: dashboard-backend-on-pull-request

add more logs
  backend/pkg/storage/ent/client/failure.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

typo
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

adding logs to dig AD-138 (#241)
  backend/pkg/storage/ent/client/failure.go
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

logs (#242)
  backend/pkg/storage/ent/client/failure.go
Due: dashboard-backend-on-pull-request

AD-138
  backend/api/server/prow_rotate.go
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/storage.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-138 - [RHTAPBUGS Impact on CI] Frequency of each bug in the list is 0% (#243)
  backend/api/server/prow_rotate.go
  backend/pkg/storage/ent/client/failure.go
  backend/pkg/storage/ent/client/prow_jobs.go
  backend/pkg/storage/storage.go
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improve
  README.md
Due: none

AD-136 - add RHTAPBUGS IMPACT on CI doc and improve Bug SLIs doc (#235)
  README.md
Due: none

add top10 failing test cases
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakeyTests/ocurrencies1.json
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/ocurrencies1.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

add top10 failing test cases
  frontend/src/app/FlakyTests/FlakyTests.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Add flaky top 20 table to flaky test page (#244)
  frontend/src/app/FlakeyTests/FlakeyTests.tsx
  frontend/src/app/FlakeyTests/ocurrencies1.json
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/ocurrencies1.json
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-121 - Allow a user to dynamically filter jira bugs by labels (#228)
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/ent/db/bugs.go
  backend/pkg/storage/ent/db/bugs/bugs.go
  backend/pkg/storage/ent/db/bugs/where.go
  backend/pkg/storage/ent/db/bugs_create.go
  backend/pkg/storage/ent/db/bugs_update.go
  backend/pkg/storage/ent/db/migrate/schema.go
  backend/pkg/storage/ent/db/mutation.go
  backend/pkg/storage/ent/schema/jira_bugs.go
  frontend/src/app/Jira/CustomStackChart.tsx
  frontend/src/app/Jira/Jira.tsx
  frontend/src/app/Jira/ListIssuesTable.tsx
  frontend/src/app/Jira/utils.tsx
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push

fix
  frontend/src/app/Jira/utils.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

Fix 'Cannot read properties of undefined (reading 'includes')' (#246)
  frontend/src/app/Jira/utils.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

improvements
  frontend/src/app/Jira/CustomStackChart.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

minor improvements (#247)
  frontend/src/app/Jira/CustomStackChart.tsx
  frontend/src/app/Jira/Jira.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-145
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/FlakyTests/Charts.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/Tables.tsx
  frontend/src/app/FlakyTests/Types.tsx
  frontend/src/app/FlakyTests/utils.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

AD-145 - Add impact of flaky tests in jobs rate (#248)
  frontend/src/app/AppLayout/AppLayout.tsx
  frontend/src/app/FlakyTests/Charts.tsx
  frontend/src/app/FlakyTests/FlakyTests.tsx
  frontend/src/app/FlakyTests/Tables.tsx
  frontend/src/app/FlakyTests/Types.tsx
  frontend/src/app/FlakyTests/utils.tsx
  frontend/src/app/Reports/Reports.tsx
  frontend/src/app/Teams/TeamsSelect.tsx
  frontend/src/app/routes.tsx
  frontend/src/app/utils/sharedComponents.tsx
Due: dashboard-frontend-on-pull-request, dashboard-frontend-on-push

/AD-149
  backend/api/server/rhtap_bug_slis_alert.go
  backend/api/server/router/jira/jira.go
  backend/pkg/storage/ent/client/jira_bugs.go
  backend/pkg/storage/storage.go
  frontend/src/app/BugSLIs/MainPage.tsx
  frontend/src/app/BugSLIs/SLIsStackChart.tsx
  frontend/src/app/BugSLIs/Table.tsx
  frontend/src/app/utils/APIService.ts
Due: dashboard-backend-on-pull-request, dashboard-frontend-on-pull-request, dashboard-frontend-on-push
